body{
    background-color:navy;
}
nav ul{
    text-align:center;
}
.links:hover{
    font-weight:bold;
}
a:visited{
   color:purple;
}
h1{
    color:white;
    font-size:100px;
}
h2{
    color:black;
    font-size:25px;
}
h4{
    color:aqua;
    font-size:50px;
}
footer{
font:size 50px;
margin: 50px 0px 0px 0px;
padding:10px 10px 5px 20px;
background-color:silver;
}
h3{
    font-size:50px;
    color:white;
}
.underline{
    color: white;
    text-decoration: underline;
}
p{
    font-size:25px;
    color:aqua;
}
.imgshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card{
    background-color:grey;
    margin: 50px 0px 0px 0px;
}
.ProjectBox{
        font-size:25px;
        border: 8px dotted black;
        padding: 15px; /* adds 15 pixels of space between the text and the border */
    
}
.img-set{
    max-width: 100%;
}
.rounded-circle{
    max-width: 100%;
    max-height: 100%;
}
table, th, td{
border: 8px dotted black;
border-collapse: collapse;
}
th{
    background-color:grey;
    color:white
    
}
tr{
color:white;
}
td{
    color:aqua
}
.post img {
    background: transparent;
  }
  .gearSpinR{
    animation: rotateGearR 20s linear infinite;
  }
@keyframes rotateGearR{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.gearSpinL{
    animation: rotateGearL 20s linear infinite;
  }
@keyframes rotateGearL{
    from{transform: rotate(360deg);}
    to{transform: rotate(0deg);}
}